# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

""" C/C++ toolchain declaration for target platform.
"""

load("@rules_cc//cc:defs.bzl", "cc_toolchain")
load("@score_bazel_cpp_toolchains//features/custom/%{tc_os}:make_cc_features.bzl", "get_feature_lists")
load("@score_bazel_cpp_toolchains//features/native/extra_compile_flags:features.bzl", "make_extra_compile_features")
load("@score_bazel_cpp_toolchains//features/native/extra_link_flags:features.bzl", "make_extra_link_features")
load("@score_bazel_cpp_toolchains//features/native/compiler_library_search_paths:features.bzl", "make_compiler_library_search_paths")
load("@score_bazel_cpp_toolchains//features/native/sysroot_link_flags:features.bzl", "make_sysroot_link_flags")
%{tc_custom_feature_load}
load(":cc_toolchain_config.bzl", "cc_toolchain_config")

make_extra_compile_features(
    extra_compile_flags = %{tc_extra_compile_flags},
    extra_c_compile_flags = %{tc_extra_c_compile_flags},
    extra_cxx_compile_flags = %{tc_extra_cxx_compile_flags},
)

make_extra_link_features(
    extra_link_flags = %{tc_extra_link_flags}
)

make_compiler_library_search_paths(
    compiler_library_search_paths = "%{tc_compiler_library_search_paths}",
)

make_sysroot_link_flags(
    target_os = "%{tc_os}",
    sysroot = "%{tc_sysroot}",
)
%{tc_custom_features}
# known_features must list every feature (enabled or opt-in); enabled_features is
# the order-irrelevant subset that should start on. See compute_feature_lists().
_KNOWN_FEATURES, _ENABLED_FEATURES = get_feature_lists()

filegroup(
    name = "empty",
)

%{cc_toolchain_config}

cc_toolchain(
    name = "cc_toolchain",
    all_files = "@%{tc_pkg_repo}//:all_files",
    ar_files = "@%{tc_pkg_repo}//:all_files",
    as_files = "@%{tc_pkg_repo}//:all_files",
    compiler_files = "@%{tc_pkg_repo}//:all_files",
    coverage_files = ":all_files",
    dwp_files = ":empty",
    linker_files = "@%{tc_pkg_repo}//:all_files",
    objcopy_files = ":empty",
    strip_files = "@%{tc_pkg_repo}//:all_files",
    toolchain_config = ":cc_toolchain_config",
)

toolchain(
    name = "%{tc_cpu}-%{tc_os}%{tc_identifier_short_1}%{tc_identifier_short_2}",
    exec_compatible_with = [
        "@platforms//cpu:x86_64",
        "@platforms//os:linux",
    ],
    target_compatible_with = [
        "@platforms//cpu:%{tc_cpu}",
        "@platforms//os:%{tc_os}",
    ] + %{tc_identifier_long_1} + %{tc_identifier_long_2},
    toolchain = ":cc_toolchain",
    toolchain_type = "@bazel_tools//tools/cpp:toolchain_type",
    visibility = [
        "//:__pkg__",
    ],
)